.version._8mmgifs /* version checker */
{
	color: #000010;
	background-color: #38C817;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-image: none;
	margin-right: auto;
	background-color: transparent;
	margin-left: auto;
	z-index: 1;
	width: 100%;
	border-color: #000000;
	border-width: 0px;
}

#u133-6:hover,#u133-6:active
{
	padding-top: 0px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	z-index: 8;
	min-height: 55px;
}

#u4573-4
{
	padding-top: 12px;
	background-color: transparent;
	min-height: 28px;
	margin-top: 7px;
	z-index: 14;
	padding-bottom: 12px;
	position: relative;
}

#u4573-3
{
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	margin-left: 30px;
	margin-right: 30px;
	line-height: 18px;
	color: #FFFFFF;
	font-family: quantico, sans-serif;
}

#u4595
{
	z-index: 18;
	margin-top: 6px;
	background-color: transparent;
	position: relative;
}

#u4606
{
	z-index: 20;
	margin-top: 18px;
	background-color: transparent;
	position: relative;
}

#u4613
{
	z-index: 22;
	margin-top: 17px;
	background-color: transparent;
	position: relative;
}

#u4620
{
	z-index: 24;
	margin-top: 19px;
	background-color: transparent;
	position: relative;
}

#u4627
{
	z-index: 26;
	background-color: transparent;
	position: relative;
}

#u128-6
{
	z-index: 2;
	min-height: 27px;
}

#u128-6-bw
{
	z-index: 2;
	min-height: 27px;
	margin-top: 19px;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 591px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 100px;
		max-width: 960px;
	}

	#u4573-4
	{
		width: 543px;
		margin-left: 50%;
		left: -272px;
	}

	#u4595
	{
		width: 406px;
		margin-left: 50%;
		left: -203px;
	}

	#u4606
	{
		width: 411px;
		margin-left: 50%;
		left: -206px;
	}

	#u4613
	{
		width: 424px;
		margin-left: 50%;
		left: -212px;
	}

	#u4620
	{
		width: 453px;
		margin-left: 50%;
		left: -227px;
	}

	#u4627
	{
		width: 446px;
		margin-top: 19px;
		margin-left: 50%;
		left: -223px;
	}

}

@media (max-width: 590px)
{
	#muse_css_mq
	{
		background-color: #00024e;
	}

	#bp_590.active
	{
		display: block;
	}

	#page
	{
		min-height: 99.99999999999977px;
		padding-bottom: 0px;
		max-width: 590px;
	}

	#u4573-4
	{
		width: 92.04%;
		margin-left: 3.99%;
		left: 0px;
	}

	#u4595
	{
		width: 68.82%;
		margin-left: 15.6%;
		left: 0px;
	}

	#u4606
	{
		width: 69.67%;
		margin-left: 15.17%;
		left: -1px;
	}

	#u4613
	{
		width: 71.87%;
		margin-left: 14.07%;
		left: 0px;
	}

	#u4620
	{
		width: 76.78%;
		margin-left: 11.62%;
		left: -1px;
	}

	#u4627
	{
		margin-top: 21px;
		width: 75.6%;
		margin-left: 12.21%;
		left: 0px;
	}

	#u4595_img,#u4606_img,#u4613_img,#u4620_img,#u4627_img
	{
		width: 100%;
	}

	body
	{
		min-width: 320px;
	}
}

