.version.audio /* version checker */
{
	color: #0000F5;
	background-color: #FC9711;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 433px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 67px;
	margin-left: auto;
	margin-right: auto;
}

#u286-7
{
	z-index: 8;
	width: 377px;
	min-height: 56px;
	background-color: transparent;
	font-weight: bold;
	margin-left: 20px;
	position: relative;
}

#u286-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u286,#u286-5
{
	font-size: 16px;
	font-family: Courier New, Courier, monospace;
	line-height: 19px;
}

#u286-4
{
	font-weight: normal;
}

#u1193
{
	z-index: 6;
	width: 330px;
	margin-left: 137px;
	margin-top: 393px;
}

#pu1168
{
	width: 0.01px;
}

#u1168
{
	z-index: 2;
	width: 292px;
	margin-right: -10000px;
}

#u1183
{
	z-index: 4;
	width: 256px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 344px;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

