.version.audio /* version checker */
{
	color: #0000F5;
	background-color: #BF5E89;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 499.58315991115205px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;
}

#ppu382
{
	width: 0.01px;
}

#u382
{
	z-index: 11;
	height: 25px;
	width: 90px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u392
{
	z-index: 5;
	height: 26px;
	width: 91px;
	margin-right: -10000px;
	left: 108px;
}

#u387
{
	z-index: 8;
	height: 25px;
	width: 87px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 217px;
}

#u413
{
	z-index: 14;
	height: 25px;
	width: 72px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 323px;
}

#u286-7
{
	z-index: 16;
	width: 377px;
	min-height: 56px;
	background-color: transparent;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u286-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u286,#u286-5
{
	font-size: 16px;
	font-family: Courier New, Courier, monospace;
	line-height: 19px;
}

#u286-4
{
	font-weight: normal;
}

#u376
{
	z-index: 2;
	width: 359px;
	margin-left: 241px;
	margin-top: 415px;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

