.version.design_links /* version checker */
{
	color: #000007;
	background-color: #70255E;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	background-color: transparent;
	margin-left: auto;
	padding-bottom: 0px;
	background-image: none;
	min-height: 499.9999999999998px;
	border-color: #000000;
	z-index: 1;
}

#u133-6:hover,#u133-6:active
{
	padding-bottom: 0px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	min-height: 55px;
	z-index: 8;
}

#u886-81
{
	margin-top: 26px;
	background-color: transparent;
	z-index: 14;
	min-height: 522px;
	padding-top: 12px;
	position: relative;
	padding-bottom: 12px;
}

#u886-80
{
	margin-left: 30px;
	margin-right: 30px;
}

#u886-6
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: quantico, sans-serif;
	text-align: center;
	font-weight: 400;
	line-height: 19px;
}

#u886-9,#u886-10
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: quantico, sans-serif;
	text-align: right;
	font-weight: 400;
	line-height: 19px;
}

#u886-39
{
	font-size: 16px;
	font-weight: 300;
	color: #FF0000;
	line-height: 19px;
	font-family: roboto, sans-serif;
}

#u886-48
{
	font-size: 16px;
	font-weight: 300;
	color: #0E0E0E;
	line-height: 19px;
	font-family: roboto, sans-serif;
}

#u886-37,#u886-46
{
	font-weight: 400;
	font-family: quantico, sans-serif;
}

#u886,#u886-34,#u886-52
{
	color: #F7931E;
}

#u886-4,#u886-13,#u886-61
{
	color: #29ABE2;
}

#u886-7,#u886-22,#u886-43,#u886-70
{
	color: #00FF00;
}

#u886-30,#u886-57,#u886-66,#u886-76
{
	font-size: 16px;
	font-weight: 400;
	color: #0E0E0E;
	line-height: 19px;
	font-family: quantico, sans-serif;
}

#u886-27,#u886-75
{
	color: #FFFFFF;
}

#u886-3,#u886-11,#u886-12,#u886-15,#u886-18,#u886-20,#u886-21,#u886-24,#u886-32,#u886-33,#u886-36,#u886-41,#u886-42,#u886-45,#u886-50,#u886-51,#u886-54,#u886-59,#u886-60,#u886-63,#u886-68,#u886-69,#u886-72,#u886-78
{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 19px;
	font-family: quantico, sans-serif;
}

#u886-79
{
	font-size: 15px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 18px;
	font-family: quantico, sans-serif;
}

#u128-6,#u128-6-bw
{
	min-height: 27px;
	z-index: 2;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u886-81
	{
		width: 543px;
		margin-left: 50%;
		left: -271px;
	}

}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		max-width: 596px;
	}

	#u886-81
	{
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	#u886-14
	{
		color: #00FF00;
	}

	body
	{
		min-width: 320px;
	}
}

