.version.design_links /* version checker */
{
	color: #00001B;
	background-color: #9F8CE5;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	background-image: none;
	z-index: 1;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	min-height: 499.9999999999998px;
}

#u133-6:hover,#u133-6:active
{
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 55px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	z-index: 8;
	min-height: 55px;
}

#u886-80
{
	background-color: transparent;
	position: relative;
	padding-top: 12px;
	z-index: 14;
	padding-bottom: 12px;
	margin-top: 26px;
	min-height: 522px;
}

#u886-79
{
	margin-right: 30px;
	margin-left: 30px;
	font-family: quantico, sans-serif;
	font-weight: 400;
}

#u886-6
{
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
}

#u886-9,#u886-10
{
	font-size: 16px;
	line-height: 19px;
	text-align: right;
	color: #FFFFFF;
}

#u886,#u886-34,#u886-51
{
	color: #F7931E;
}

#u886-4,#u886-13,#u886-59
{
	color: #29ABE2;
}

#u886-7,#u886-21,#u886-43,#u886-68
{
	color: #00FF00;
}

#u886-30,#u886-75
{
	font-size: 16px;
	color: #0E0E0E;
	line-height: 19px;
}

#u886-27,#u886-74
{
	color: #FFFFFF;
}

#u886-3,#u886-11,#u886-12,#u886-17,#u886-19,#u886-20,#u886-26,#u886-32,#u886-33,#u886-39,#u886-41,#u886-42,#u886-47,#u886-49,#u886-50,#u886-55,#u886-57,#u886-58,#u886-64,#u886-66,#u886-67,#u886-73,#u886-77
{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
}

#u886-78
{
	font-size: 15px;
	color: #FFFFFF;
	line-height: 18px;
}

#u128-6,#u128-6-bw
{
	z-index: 2;
	min-height: 27px;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u886-80
	{
		width: 543px;
		margin-left: 50%;
		left: -271px;
	}

}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		max-width: 596px;
	}

	#u886-80
	{
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	body
	{
		min-width: 320px;
	}
}

