.version.index /* version checker */
{
	color: #000005;
	background-color: #2D6AFE;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	min-height: 100px;
	margin-left: auto;
	border-color: #000000;
	border-width: 0px;
	background-color: transparent;
	width: 100%;
	background-image: none;
	z-index: 1;
	margin-right: auto;
}

#u133-6:hover,#u133-6:active
{
	min-height: 55px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	z-index: 8;
	min-height: 55px;
}

#u223-16
{
	min-height: 180px;
	font-weight: 400;
	background-color: transparent;
	padding-left: 15px;
	text-align: center;
	z-index: 14;
	font-family: vt323, sans-serif;
	padding-right: 15px;
}

#u223
{
	font-size: 23px;
	color: #FFFFFF;
	line-height: 28px;
}

#u223-5,#u223-6,#u223-8,#u223-9,#u223-14
{
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
}

#u223-16-bw
{
	z-index: 14;
	min-height: 180px;
}

#u128-6
{
	z-index: 2;
	min-height: 27px;
}

#u128-6-bw
{
	min-height: 27px;
	margin-top: 19px;
	z-index: 2;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 491px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

}

@media (max-width: 490px)
{
	#muse_css_mq
	{
		background-color: #0001ea;
	}

	#bp_490.active
	{
		display: block;
	}

	#page
	{
		max-width: 490px;
	}

	body
	{
		min-width: 320px;
	}
}

