.version.jeff /* version checker */
{
	color: #00001D;
	background-color: #0081CC;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	background-color: transparent;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	z-index: 1;
}

#u133-6:hover,#u133-6:active
{
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 55px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	min-height: 55px;
	z-index: 8;
}

#u737
{
	background-color: transparent;
	z-index: 31;
	position: relative;
	margin-top: 12px;
}

#u701-17
{
	padding-bottom: 12px;
	background-color: transparent;
	margin-top: 13px;
	padding-top: 12px;
	position: relative;
	z-index: 14;
}

#u701-16
{
	margin-left: 30px;
	color: #FFFFFF;
	margin-right: 30px;
	font-weight: 400;
	font-family: quantico, sans-serif;
}

#u701-3
{
	font-size: 19px;
	line-height: 23px;
	text-align: center;
}

#u701-4,#u701-6,#u701-7,#u701-9,#u701-10,#u701-12,#u701-13,#u701-15
{
	font-size: 15px;
	line-height: 18px;
}

#u128-6,#u128-6-bw
{
	min-height: 27px;
	z-index: 2;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 731px;
		max-width: 960px;
	}

	#u737
	{
		width: 315px;
		margin-left: 50%;
		left: -157px;
	}

	#u701-17
	{
		width: 543px;
		min-height: 262px;
		margin-left: 50%;
		left: -271px;
	}

	#u128-6-bw
	{
		margin-top: 10px;
	}
}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		min-height: 730px;
		max-width: 596px;
	}

	#u737
	{
		width: 52.86%;
		margin-left: 23.58%;
		left: 1px;
	}

	#u737_img
	{
		width: 100%;
	}

	#u701-17
	{
		min-height: 263px;
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	#u701-15
	{
		text-align: left;
	}

	#u128-6-bw
	{
		margin-top: 9px;
	}

	body
	{
		min-width: 320px;
	}
}

