.version.jeff /* version checker */
{
	color: #000016;
	background-color: #C58DB7;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	background-color: transparent;
	margin-left: auto;
	padding-bottom: 0px;
	background-image: none;
	border-color: #000000;
	z-index: 1;
}

#u133-6:hover,#u133-6:active
{
	padding-bottom: 0px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	min-height: 55px;
	z-index: 8;
}

#u737
{
	margin-top: 12px;
	background-color: transparent;
	position: relative;
	z-index: 37;
}

#u701-23
{
	margin-top: 13px;
	background-color: transparent;
	z-index: 14;
	padding-top: 12px;
	position: relative;
	padding-bottom: 12px;
}

#u701-22
{
	font-weight: 400;
	color: #FFFFFF;
	margin-left: 30px;
	margin-right: 30px;
}

#u701-3
{
	text-align: center;
	font-size: 19px;
	line-height: 23px;
}

#u701-4,#u701-6,#u701-7,#u701-9,#u701-10,#u701-13,#u701-15,#u701-16,#u701-18,#u701-19,#u701-21
{
	font-size: 15px;
	line-height: 18px;
}

#u128-6,#u128-6-bw
{
	min-height: 27px;
	z-index: 2;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 730.9999999999998px;
		max-width: 960px;
	}

	#u737
	{
		width: 315px;
		margin-left: 50%;
		left: -157px;
	}

	#u701-23
	{
		width: 543px;
		min-height: 491px;
		margin-left: 50%;
		left: -271px;
	}

	#u701-12
	{
		font-size: 24px;
		text-align: center;
		line-height: 29px;
		font-family: vt323, sans-serif;
	}

	#u701-3,#u701-4,#u701-6,#u701-7,#u701-9,#u701-10,#u701-13,#u701-15,#u701-16,#u701-18,#u701-19,#u701-21
	{
		font-family: quantico, sans-serif;
	}
}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		min-height: 729.9999999999998px;
		max-width: 596px;
	}

	#u737
	{
		width: 52.86%;
		margin-left: 23.58%;
		left: 1px;
	}

	#u737_img
	{
		width: 100%;
	}

	#u701-23
	{
		min-height: 263px;
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	#u701-22
	{
		font-family: quantico, sans-serif;
	}

	#u701-12
	{
		font-size: 15px;
		line-height: 18px;
	}

	#u701-21
	{
		text-align: left;
	}

	body
	{
		min-width: 320px;
	}
}

