.version.lettering /* version checker */
{
	color: #00000B;
	background-color: #4FEE5B;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	background-color: transparent;
	width: 100%;
	min-height: 280px;
	margin-right: auto;
	margin-left: auto;
	background-image: none;
	border-color: #000000;
	z-index: 1;
}

#u133-6:hover,#u133-6:active
{
	padding-bottom: 0px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	min-height: 55px;
	z-index: 8;
}

#u1302-16
{
	padding-bottom: 12px;
	margin-top: 21px;
	min-height: 134px;
	padding-top: 12px;
	background-color: transparent;
	position: relative;
	z-index: 14;
}

#u1302-15
{
	margin-right: 30px;
	margin-left: 30px;
	color: #FFFFFF;
	font-weight: 400;
}

#u1302-7,#u1302-8
{
	font-size: 15px;
	font-family: quantico, sans-serif;
	line-height: 18px;
}

#u1302-14
{
	font-size: 20px;
	font-family: vt323, sans-serif;
	line-height: 24px;
}

#u128-6
{
	min-height: 27px;
	z-index: 2;
}

#u128-6-bw
{
	z-index: 2;
	margin-top: 19px;
	min-height: 27px;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u1302-16
	{
		width: 543px;
		margin-left: 50%;
		left: -271px;
	}

}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		max-width: 596px;
	}

	#u1302-16
	{
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	body
	{
		min-width: 320px;
	}
}

