.version.lettering /* version checker */
{
	color: #000000;
	background-color: #CADA7A;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	z-index: 1;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	min-height: 500px;
	border-width: 0px;
	border-color: #000000;
	background-image: none;
}

#u133-6:hover,#u133-6:active
{
	padding-top: 0px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	z-index: 8;
	min-height: 55px;
}

#u1302-19
{
	padding-top: 12px;
	z-index: 14;
	min-height: 321px;
	margin-top: 21px;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u1302-18
{
	font-size: 15px;
	margin-left: 30px;
	color: #FFFFFF;
	font-family: quantico, sans-serif;
	font-weight: 400;
	line-height: 18px;
	margin-right: 30px;
}

#u128-6
{
	z-index: 2;
	min-height: 27px;
}

#u128-6-bw
{
	z-index: 2;
	min-height: 27px;
	margin-top: 52px;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u1302-19
	{
		width: 543px;
		margin-left: 50%;
		left: -271px;
	}

}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		max-width: 596px;
	}

	#u1302-19
	{
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	#u1302-14
	{
		font-family: quantico, sans-serif;
		font-weight: 400;
		font-style: italic;
	}

	body
	{
		min-width: 320px;
	}
}

