.version.links /* version checker */
{
	color: #0000F7;
	background-color: #077EC3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 588px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F7F7F7;
	margin-left: auto;
	margin-right: auto;
}

#pu4153
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u4153
{
	z-index: 6;
	width: 438px;
	margin-left: 61px;
	position: relative;
}

#u6496-80
{
	z-index: 8;
	width: 560px;
	min-height: 178px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	margin-top: 68px;
	position: relative;
}

#u6496-2
{
	color: #FF0000;
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u6496-4
{
	text-align: center;
	color: #0000FF;
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u6496-6,#u6496-7,#u6496-8
{
	text-align: right;
	color: #009245;
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u6496-13,#u6496-15,#u6496-17,#u6496-19,#u6496-21,#u6496-22,#u6496-24
{
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u6496-27
{
	color: #FF0000;
}

#u6496-10,#u6496-40
{
	color: #0000FF;
}

#u6496-12,#u6496-16,#u6496-25,#u6496-29,#u6496-42,#u6496-55,#u6496-65
{
	color: #0E0E0E;
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u6496-53,#u6496-63
{
	color: #009245;
}

#u6496-18,#u6496-20,#u6496-75
{
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u6496-9,#u6496-26,#u6496-36,#u6496-38,#u6496-39,#u6496-49,#u6496-51,#u6496-52,#u6496-59,#u6496-61,#u6496-62,#u6496-72,#u6496-74,#u6496-77,#u6496-78
{
	color: #0E0E0E;
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u4143
{
	z-index: 4;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u4133
{
	z-index: 2;
	width: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 347px;
}

.html
{
	background-color: #F7F7F7;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 64px;
}

.verticalspacer
{
	min-height: 1px;
}

