.version.links /* version checker */
{
	color: #000011;
	background-color: #1596E8;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	margin-left: auto;
	border-width: 0px;
	padding-bottom: 0px;
	min-height: 499.9999999999998px;
	width: 100%;
	z-index: 1;
	border-color: #000000;
	background-image: none;
	margin-right: auto;
}

#u133-6:hover,#u133-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	z-index: 8;
	min-height: 55px;
}

#u886-81
{
	padding-top: 12px;
	min-height: 522px;
	background-color: transparent;
	position: relative;
	padding-bottom: 12px;
	margin-top: 26px;
	z-index: 14;
}

#u886-80
{
	margin-right: 30px;
	margin-left: 30px;
}

#u886-6
{
	text-align: center;
	font-family: quantico, sans-serif;
	line-height: 19px;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 16px;
}

#u886-9,#u886-10,#u886-11
{
	text-align: right;
	font-family: quantico, sans-serif;
	line-height: 19px;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 16px;
}

#u886-33
{
	font-family: roboto, sans-serif;
	font-weight: 300;
	color: #FF0000;
	line-height: 19px;
	font-size: 16px;
}

#u886-42
{
	font-family: roboto, sans-serif;
	font-weight: 300;
	color: #0E0E0E;
	line-height: 19px;
	font-size: 16px;
}

#u886-31,#u886-40
{
	font-family: quantico, sans-serif;
	font-weight: 400;
}

#u886,#u886-28,#u886-46
{
	color: #F7931E;
}

#u886-4,#u886-58
{
	color: #29ABE2;
}

#u886-7,#u886-13,#u886-37,#u886-70
{
	color: #00FF00;
}

#u886-24,#u886-54,#u886-66,#u886-76
{
	font-family: quantico, sans-serif;
	font-weight: 400;
	color: #0E0E0E;
	line-height: 19px;
	font-size: 16px;
}

#u886-18,#u886-21,#u886-51,#u886-63,#u886-75
{
	color: #FFFFFF;
}

#u886-3,#u886-12,#u886-15,#u886-26,#u886-27,#u886-30,#u886-35,#u886-36,#u886-39,#u886-44,#u886-45,#u886-48,#u886-56,#u886-57,#u886-60,#u886-68,#u886-69,#u886-72,#u886-78
{
	font-family: quantico, sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
}

#u886-79
{
	font-family: quantico, sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 15px;
}

#u128-6,#u128-6-bw
{
	z-index: 2;
	min-height: 27px;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u886-81
	{
		width: 543px;
		margin-left: 50%;
		left: -271px;
	}

}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		max-width: 596px;
	}

	#u886-81
	{
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	body
	{
		min-width: 320px;
	}
}

