.version.links /* version checker */
{
	color: #0000EA;
	background-color: #059C23;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 588px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F7F7F7;
	margin-left: auto;
	margin-right: auto;
}

#pu4153
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u4153
{
	z-index: 6;
	width: 438px;
	margin-left: 61px;
	position: relative;
}

#u6496-31
{
	z-index: 8;
	width: 560px;
	min-height: 178px;
	background-color: transparent;
	line-height: 19px;
	color: #0E0E0E;
	font-size: 16px;
	margin-top: 68px;
	position: relative;
}

#u6496-8,#u6496-17
{
	font-family: roboto, sans-serif;
	font-weight: 700;
}

#u6496-26
{
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u6496-2,#u6496-3,#u6496-5,#u6496-6,#u6496-12,#u6496-14,#u6496-15,#u6496-23,#u6496-25,#u6496-28,#u6496-29
{
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u4143
{
	z-index: 4;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u4133
{
	z-index: 2;
	width: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 347px;
}

.html
{
	background-color: #F7F7F7;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 64px;
}

.verticalspacer
{
	min-height: 41px;
}

