#u133-6
{
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	background-color: #000000;
	font-family: vt323, sans-serif;
	text-align: center;
	border-width: 0px;
	color: #FFFFFF;
	border-color: transparent;
}

#u133-6:hover p,#u133-6:hover span,#u133-6:active p,#u133-6:active span
{
	visibility: inherit;
	color: #FFFF00;
}

#u133-2
{
	color: #7F7F7F;
}

#u128-6
{
	font-size: 19px;
	line-height: 23px;
	background-color: #000000;
	font-family: vt323, sans-serif;
	text-align: center;
	font-weight: 400;
	color: #FFFFFF;
}



