#u898
{
	vertical-align: top;
	position: relative;
	background: url("../images/u898.png") no-repeat 0px 0px;
}

#u898:hover
{
	background: url("../images/u898-r.png") no-repeat 0px 0px;
}

#u904
{
	vertical-align: top;
	position: relative;
	background: url("../images/u904.png") no-repeat 0px 0px;
}

#u904:hover
{
	background: url("../images/u904-r.png") no-repeat 0px 0px;
}

#u892
{
	vertical-align: top;
	position: relative;
	background: url("../images/u892.png") no-repeat 0px 0px;
}

#u892:hover
{
	background: url("../images/u892-r.png") no-repeat 0px 0px;
}

#u886
{
	vertical-align: top;
	position: relative;
	background: url("../images/u886.png") no-repeat 0px 0px;
}

#u886:hover
{
	background: url("../images/u886-r.png") no-repeat 0px 0px;
}

#u916
{
	vertical-align: top;
	position: relative;
	background: url("../images/u916.png") no-repeat 0px 0px;
}

#u916:hover
{
	background: url("../images/u916-r.png") no-repeat 0px 0px;
}

#u910
{
	vertical-align: top;
	position: relative;
	background: url("../images/u910.png") no-repeat 0px 0px;
}

#u910:hover
{
	background: url("../images/u910-r.png") no-repeat 0px 0px;
}

#u376
{
	background-color: transparent;
	position: relative;
}

#u837,#u922
{
	background-color: transparent;
	position: relative;
}

