.version.me /* version checker */
{
	color: #000008;
	background-color: #1D4362;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	margin-left: auto;
	border-width: 0px;
	padding-bottom: 0px;
	min-height: 499.9999999999998px;
	width: 100%;
	z-index: 1;
	border-color: #000000;
	background-image: none;
	margin-right: auto;
}

#u133-6:hover,#u133-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	z-index: 8;
	min-height: 55px;
}

#u737
{
	background-color: transparent;
	position: relative;
	margin-top: 12px;
	z-index: 35;
}

#u701-21
{
	padding-top: 12px;
	background-color: transparent;
	position: relative;
	padding-bottom: 12px;
	margin-top: 13px;
	z-index: 14;
}

#u701-20
{
	font-weight: 400;
	margin-left: 30px;
	color: #FFFFFF;
	margin-right: 30px;
}

#u701-3
{
	text-align: center;
	font-family: quantico, sans-serif;
	line-height: 23px;
	font-size: 19px;
}

#u701-15,#u701-17
{
	text-align: center;
	font-family: vt323, sans-serif;
	line-height: 29px;
	font-size: 24px;
}

#u701-4,#u701-6,#u701-7,#u701-9,#u701-10,#u701-12,#u701-13,#u701-19
{
	font-family: quantico, sans-serif;
	line-height: 18px;
	font-size: 15px;
}

#u128-6,#u128-6-bw
{
	z-index: 2;
	min-height: 27px;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 597px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u737
	{
		width: 315px;
		margin-left: 50%;
		left: -157px;
	}

	#u701-21
	{
		width: 543px;
		min-height: 321px;
		margin-left: 50%;
		left: -271px;
	}

}

@media (max-width: 596px)
{
	#muse_css_mq
	{
		background-color: #000254;
	}

	#bp_596.active
	{
		display: block;
	}

	#page
	{
		max-width: 596px;
	}

	#u737
	{
		width: 52.86%;
		margin-left: 23.58%;
		left: 1px;
	}

	#u737_img
	{
		width: 100%;
	}

	#u701-21
	{
		min-height: 322px;
		width: 91.11%;
		margin-left: 4.45%;
		left: 0px;
	}

	#u701-19
	{
		text-align: left;
	}

	body
	{
		min-width: 320px;
	}
}

