.version.mechanical_drawing /* version checker */
{
	color: #00000D;
	background-color: #C6D96A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499.7706013363031px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u133-6
{
	z-index: 8;
	min-height: 55px;
}

#u133-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px;
}

#u133-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u133-6-bw
{
	z-index: 8;
	min-height: 55px;
}

#u4156-19
{
	z-index: 16;
	width: 300px;
	min-height: 122px;
	background-color: transparent;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 15px;
	font-family: quantico, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u4156,#u4156-5,#u4156-8,#u4156-11,#u4156-14
{
	color: #B2B2B2;
}

#u4159
{
	z-index: 35;
	background-color: transparent;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4149
{
	z-index: 14;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4166
{
	z-index: 37;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4179
{
	z-index: 39;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4205
{
	z-index: 41;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 85%;
	margin-left: 7.51%;
	left: -1px;
}

#u4212
{
	z-index: 43;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4219
{
	z-index: 45;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4232
{
	z-index: 47;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4239
{
	z-index: 49;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4246
{
	z-index: 51;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4253
{
	z-index: 53;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4260
{
	z-index: 55;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4267
{
	z-index: 57;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4274
{
	z-index: 59;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4281
{
	z-index: 61;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4288
{
	z-index: 63;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 95.32%;
	margin-left: 2.35%;
	left: 1px;
}

#u4301
{
	z-index: 65;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4308
{
	z-index: 67;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4315
{
	z-index: 69;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4322
{
	z-index: 71;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 0px;
}

#u4159_img,#u4149_img,#u4166_img,#u4179_img,#u4205_img,#u4212_img,#u4219_img,#u4232_img,#u4239_img,#u4246_img,#u4253_img,#u4260_img,#u4267_img,#u4274_img,#u4281_img,#u4288_img,#u4301_img,#u4308_img,#u4315_img,#u4322_img
{
	width: 100%;
}

#u128-6,#u128-6-bw
{
	z-index: 2;
	min-height: 27px;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
	min-width: 320px;
}

