	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 730.9999999999998px;
		max-width: 960px;
	}

	#u737
	{
		width: 315px;
		margin-left: 50%;
		left: -157px;
	}

	#u701-20
	{
		width: 543px;
		min-height: 354px;
		margin-left: 50%;
		left: -271px;
	}

	#u701-9
	{
		font-size: 24px;
		text-align: center;
		line-height: 29px;
		font-family: vt323, sans-serif;
	}

	#u701-3,#u701-4,#u701-6,#u701-7,#u701-10,#u701-12,#u701-13,#u701-15,#u701-16,#u701-18
	{
		font-family: quantico, sans-serif;
	}

