	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 731px;
		max-width: 960px;
	}

	#u737
	{
		width: 315px;
		margin-left: 50%;
		left: -157px;
	}

	#u701-17
	{
		width: 543px;
		min-height: 262px;
		margin-left: 50%;
		left: -271px;
	}

	#u128-6-bw
	{
		margin-top: 23px;
	}

