	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u737
	{
		width: 315px;
		margin-left: 50%;
		left: -157px;
	}

	#u701-21
	{
		width: 543px;
		min-height: 321px;
		margin-left: 50%;
		left: -271px;
	}

	#u701-3,#u701-4,#u701-6,#u701-7,#u701-9,#u701-10,#u701-12,#u701-13,#u701-15,#u701-17
	{
		color: #FFFFFF;
	}

	#u701-19
	{
		color: #FFFF00;
	}

