	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.5999999999998px;
		max-width: 960px;
	}

	#u290
	{
		width: 192px;
		margin-top: 7px;
		margin-left: 50%;
		left: -96px;
	}

	#u287-28
	{
		width: 543px;
		min-height: 391px;
		margin-top: 8px;
		margin-left: 50%;
		left: -271px;
	}


