	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 100px;
		max-width: 960px;
	}

	#u4573-4
	{
		width: 543px;
		margin-left: 50%;
		left: -272px;
	}

	#u4595
	{
		width: 406px;
		margin-left: 50%;
		left: -203px;
	}

	#u4606
	{
		width: 411px;
		margin-left: 50%;
		left: -206px;
	}

	#u4613
	{
		width: 424px;
		margin-left: 50%;
		left: -212px;
	}

	#u4620
	{
		width: 453px;
		margin-left: 50%;
		left: -227px;
	}

	#u4627
	{
		width: 446px;
		margin-top: 19px;
		margin-left: 50%;
		left: -223px;
	}


