.version.pics3 /* version checker */
{
	color: #0000E1;
	background-color: #E4A9ED;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 593px;
	min-height: 1473px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F7F7F7;
	padding-right: 7px;
	margin-left: auto;
	margin-right: auto;
}

#u4153
{
	z-index: 6;
	width: 438px;
	margin-left: 81px;
	position: relative;
}

#slideshowu8327
{
	z-index: 89;
	width: 0.01px;
	height: 545px;
	margin-left: 20px;
	margin-top: 84px;
	position: relative;
}

#u8345
{
	position: absolute;
	width: 560px;
	height: 418px;
	background-color: transparent;
	top: 127px;
}

#u8345popup
{
	z-index: 90;
}

#u8352
{
	z-index: 91;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9179
{
	z-index: 93;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9199
{
	z-index: 95;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9219
{
	z-index: 97;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9239
{
	z-index: 99;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9259
{
	z-index: 101;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9279
{
	z-index: 103;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9299
{
	z-index: 105;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9319
{
	z-index: 107;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9339
{
	z-index: 109;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9359
{
	z-index: 111;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9379
{
	z-index: 113;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9399
{
	z-index: 115;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9419
{
	z-index: 117;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8377
{
	position: absolute;
	width: 560px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
}

#u8377popup
{
	z-index: 119;
}

#u8384
{
	z-index: 120;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u9185
{
	z-index: 122;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u9205
{
	z-index: 124;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u9225
{
	z-index: 126;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u9245
{
	z-index: 128;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u9265
{
	z-index: 130;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u9285
{
	z-index: 132;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u9305
{
	z-index: 134;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u9325
{
	z-index: 136;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 5px;
}

#u9345
{
	z-index: 138;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 75px;
}

#u9365
{
	z-index: 140;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 145px;
}

#u9385
{
	z-index: 142;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 215px;
}

#u9405
{
	z-index: 144;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 285px;
}

#u9425
{
	z-index: 146;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 355px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8129-4
{
	z-index: 8;
	width: 73px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 448px;
	top: -484px;
	margin-bottom: -29px;
	position: relative;
}

#slideshowu7918
{
	z-index: 12;
	width: 0.01px;
	height: 543px;
	margin-left: 20px;
	margin-top: 57px;
	position: relative;
}

#u7960
{
	position: absolute;
	width: 560px;
	height: 418px;
	background-color: transparent;
	top: 125px;
}

#u7960popup
{
	z-index: 13;
}

#u8710
{
	z-index: 14;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8730
{
	z-index: 16;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8750
{
	z-index: 18;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8770
{
	z-index: 20;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8790
{
	z-index: 22;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8810
{
	z-index: 24;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8830
{
	z-index: 26;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8850
{
	z-index: 28;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8870
{
	z-index: 30;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8890
{
	z-index: 32;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8910
{
	z-index: 34;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8950
{
	z-index: 36;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8970
{
	z-index: 38;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8990
{
	z-index: 40;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9010
{
	z-index: 42;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8352_img,#u9179_img,#u9199_img,#u9219_img,#u9239_img,#u9259_img,#u9279_img,#u9299_img,#u9319_img,#u9339_img,#u9359_img,#u9379_img,#u9399_img,#u9419_img,#u8710_img,#u8730_img,#u8750_img,#u8770_img,#u8790_img,#u8810_img,#u8830_img,#u8850_img,#u8870_img,#u8890_img,#u8910_img,#u8950_img,#u8970_img,#u8990_img,#u9010_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u7922
{
	position: absolute;
	width: 560px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 174px;
}

#u7922popup
{
	z-index: 44;
}

#u8716
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u8736
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u8756
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u8776
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u8796
{
	z-index: 53;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u8816
{
	z-index: 55;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u8836
{
	z-index: 57;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u8856
{
	z-index: 59;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u8384.SSSlideLinkSelected,#u9185.SSSlideLinkSelected,#u9205.SSSlideLinkSelected,#u9225.SSSlideLinkSelected,#u9245.SSSlideLinkSelected,#u9265.SSSlideLinkSelected,#u9285.SSSlideLinkSelected,#u9305.SSSlideLinkSelected,#u8716.SSSlideLinkSelected,#u8736.SSSlideLinkSelected,#u8756.SSSlideLinkSelected,#u8776.SSSlideLinkSelected,#u8796.SSSlideLinkSelected,#u8816.SSSlideLinkSelected,#u8836.SSSlideLinkSelected,#u8856.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8876
{
	z-index: 61;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 5px;
}

#u8896
{
	z-index: 63;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 75px;
}

#u8916
{
	z-index: 65;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 145px;
}

#u8956
{
	z-index: 67;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 215px;
}

#u8976
{
	z-index: 69;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 285px;
}

#u8996
{
	z-index: 71;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 355px;
}

#u9016
{
	z-index: 73;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 425px;
}

#u9325.SSSlideLinkSelected,#u9345.SSSlideLinkSelected,#u9365.SSSlideLinkSelected,#u9385.SSSlideLinkSelected,#u9405.SSSlideLinkSelected,#u9425.SSSlideLinkSelected,#u8876.SSSlideLinkSelected,#u8896.SSSlideLinkSelected,#u8916.SSSlideLinkSelected,#u8956.SSSlideLinkSelected,#u8976.SSSlideLinkSelected,#u8996.SSSlideLinkSelected,#u9016.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u7986-4
{
	z-index: 75;
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 491px;
	top: -476px;
	margin-bottom: -29px;
	position: relative;
}

#pu7985-5
{
	width: 0.01px;
	margin-left: 165px;
	margin-top: 41px;
}

#u7985-5
{
	z-index: 79;
	width: 77px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-code-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u7917-5
{
	z-index: 84;
	width: 77px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-code-pro, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u7985,#u7917
{
	text-decoration: none;
}

#u9049-4
{
	z-index: 148;
	width: 77px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#pu4143
{
	width: 0.01px;
	margin-top: 95px;
}

#u4143
{
	z-index: 4;
	width: 282px;
	position: relative;
	margin-right: -10000px;
}

#u4133
{
	z-index: 2;
	width: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 347px;
}

.html
{
	background-color: #F7F7F7;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 32px;
}

