.version.pics2 /* version checker */
{
	color: #00000B;
	background-color: #424707;
}

#page
{
	z-index: 1;
	width: 593px;
	min-height: 1985px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-right: 7px;
	margin-left: auto;
	margin-right: auto;
}

#u4153
{
	z-index: 6;
	width: 438px;
	margin-left: 81px;
	position: relative;
}

#slideshowu5822
{
	z-index: 8;
	width: 0.01px;
	height: 543px;
	margin-left: 20px;
	margin-top: 84px;
	position: relative;
}

#u5823popup
{
	z-index: 9;
}

#u5840
{
	z-index: 10;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5834
{
	z-index: 12;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5842
{
	z-index: 14;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5826
{
	z-index: 16;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5836
{
	z-index: 18;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5832
{
	z-index: 20;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5846
{
	z-index: 22;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5844
{
	z-index: 24;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5838
{
	z-index: 26;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5828
{
	z-index: 28;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5824
{
	z-index: 30;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5830
{
	z-index: 32;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5848
{
	z-index: 34;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5854
{
	position: absolute;
	width: 560px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
}

#u5854popup
{
	z-index: 36;
}

#u5879
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u5871
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u5857
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u5863
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u5865
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u5873
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u5877
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u5875
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u5859
{
	z-index: 53;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 5px;
}

#u5861
{
	z-index: 55;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 75px;
}

#u5867
{
	z-index: 57;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 145px;
}

#u5855
{
	z-index: 59;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 215px;
}

#u5869
{
	z-index: 61;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 285px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5964-4
{
	z-index: 63;
	width: 73px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 438px;
	top: -478px;
	margin-bottom: -29px;
	position: relative;
}

#slideshowu5898
{
	z-index: 67;
	width: 0.01px;
	height: 543px;
	margin-left: 20px;
	margin-top: 59px;
	position: relative;
}

#u5941popup
{
	z-index: 68;
}

#u5960
{
	z-index: 69;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5956
{
	z-index: 71;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5944
{
	z-index: 73;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5954
{
	z-index: 75;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5948
{
	z-index: 77;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5952
{
	z-index: 79;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5942
{
	z-index: 81;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5958
{
	z-index: 83;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5946
{
	z-index: 85;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5950
{
	z-index: 87;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5962
{
	z-index: 89;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5899
{
	position: absolute;
	width: 560px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
}

#u5899popup
{
	z-index: 91;
}

#u5914
{
	z-index: 92;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u5918
{
	z-index: 94;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u5906
{
	z-index: 96;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u5916
{
	z-index: 98;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u5910
{
	z-index: 100;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u5920
{
	z-index: 102;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u5900
{
	z-index: 104;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u5912
{
	z-index: 106;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u5904
{
	z-index: 108;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 5px;
}

#u5902
{
	z-index: 110;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 75px;
}

#u5908
{
	z-index: 112;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 145px;
}

#u6244-4
{
	z-index: 114;
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 358px;
	top: -474px;
	margin-bottom: -29px;
	position: relative;
}

#slideshowu5965
{
	z-index: 118;
	width: 0.01px;
	height: 543px;
	margin-left: 20px;
	margin-top: 41px;
	position: relative;
}

#u5823,#u5941,#u5993
{
	position: absolute;
	width: 560px;
	height: 418px;
	background-color: transparent;
	top: 125px;
}

#u5993popup
{
	z-index: 119;
}

#u5998
{
	z-index: 120;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6002
{
	z-index: 122;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6004
{
	z-index: 124;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6014
{
	z-index: 126;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6010
{
	z-index: 128;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5996
{
	z-index: 130;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6008
{
	z-index: 132;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6006
{
	z-index: 134;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6012
{
	z-index: 136;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5994
{
	z-index: 138;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6000
{
	z-index: 140;
	width: 560px;
	height: 418px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5840_img,#u5834_img,#u5842_img,#u5826_img,#u5836_img,#u5832_img,#u5846_img,#u5844_img,#u5838_img,#u5828_img,#u5824_img,#u5830_img,#u5848_img,#u5960_img,#u5956_img,#u5944_img,#u5954_img,#u5948_img,#u5952_img,#u5942_img,#u5958_img,#u5946_img,#u5950_img,#u5962_img,#u5998_img,#u6002_img,#u6004_img,#u6014_img,#u6010_img,#u5996_img,#u6008_img,#u6006_img,#u6012_img,#u5994_img,#u6000_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u5967
{
	position: absolute;
	width: 560px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 13px;
}

#u5967popup
{
	z-index: 142;
}

#u5978
{
	z-index: 143;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u5970
{
	z-index: 145;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u5986
{
	z-index: 147;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#u5972
{
	z-index: 149;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u5982
{
	z-index: 151;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u5976
{
	z-index: 153;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

#u5980
{
	z-index: 155;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u5974
{
	z-index: 157;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u5879.SSSlideLinkSelected,#u5871.SSSlideLinkSelected,#u5857.SSSlideLinkSelected,#u5863.SSSlideLinkSelected,#u5865.SSSlideLinkSelected,#u5873.SSSlideLinkSelected,#u5877.SSSlideLinkSelected,#u5875.SSSlideLinkSelected,#u5914.SSSlideLinkSelected,#u5918.SSSlideLinkSelected,#u5906.SSSlideLinkSelected,#u5916.SSSlideLinkSelected,#u5910.SSSlideLinkSelected,#u5920.SSSlideLinkSelected,#u5900.SSSlideLinkSelected,#u5912.SSSlideLinkSelected,#u5978.SSSlideLinkSelected,#u5970.SSSlideLinkSelected,#u5986.SSSlideLinkSelected,#u5972.SSSlideLinkSelected,#u5982.SSSlideLinkSelected,#u5976.SSSlideLinkSelected,#u5980.SSSlideLinkSelected,#u5974.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5984
{
	z-index: 159;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 5px;
}

#u5968
{
	z-index: 161;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 75px;
}

#u5988
{
	z-index: 163;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 145px;
}

#u5859.SSSlideLinkSelected,#u5861.SSSlideLinkSelected,#u5867.SSSlideLinkSelected,#u5855.SSSlideLinkSelected,#u5869.SSSlideLinkSelected,#u5904.SSSlideLinkSelected,#u5902.SSSlideLinkSelected,#u5908.SSSlideLinkSelected,#u5984.SSSlideLinkSelected,#u5968.SSSlideLinkSelected,#u5988.SSSlideLinkSelected
{
	border-width: 0px;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u5759-4
{
	z-index: 165;
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 354px;
	top: -477px;
	margin-bottom: -29px;
	position: relative;
}

#pu6435-4
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: 22px;
}

#u6435-4
{
	z-index: 169;
	width: 77px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u6435
{
	text-decoration: underline;
}

#u6436-4
{
	z-index: 173;
	width: 77px;
	min-height: 29px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#pu4143
{
	width: 0.01px;
	margin-top: 42px;
}

#u4143
{
	z-index: 4;
	width: 282px;
	position: relative;
	margin-right: -10000px;
}

#u4133
{
	z-index: 2;
	width: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 347px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 32px;
}

