.version.pics /* version checker */
{
	color: #00000B;
	background-color: #85A321;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 5565px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F7F7F7;
	margin-left: auto;
	margin-right: auto;
}

#u4153
{
	z-index: 6;
	width: 438px;
	margin-left: 81px;
	position: relative;
}

#u9453
{
	z-index: 8;
	width: 600px;
	background-color: transparent;
	margin-top: 62px;
	position: relative;
}

#u9463
{
	z-index: 10;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9473
{
	z-index: 12;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9503
{
	z-index: 14;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9523
{
	z-index: 16;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9533
{
	z-index: 18;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9697
{
	z-index: 22;
	width: 600px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u9701
{
	z-index: 24;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9664
{
	z-index: 20;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9703
{
	z-index: 26;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9732
{
	z-index: 30;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#u9725
{
	z-index: 28;
	width: 600px;
	background-color: transparent;
	position: relative;
}

#pu4143
{
	width: 0.01px;
	margin-top: 23px;
}

#u4143
{
	z-index: 4;
	width: 282px;
	position: relative;
	margin-right: -10000px;
}

#u4133
{
	z-index: 2;
	width: 246px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 347px;
}

.html
{
	background-color: #F7F7F7;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 32px;
}

