.version.tr330 /* version checker */
{
	color: #000008;
	background-color: #A89A38;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	background-color: transparent;
	margin-left: auto;
	padding-bottom: 0px;
	background-image: none;
	min-height: 499.5999999999998px;
	border-color: #000000;
	z-index: 1;
}

#u133-6:hover,#u133-6:active
{
	padding-bottom: 0px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px;
}

#u133-6,#u133-6-bw
{
	min-height: 55px;
	z-index: 8;
}

#u290
{
	background-color: transparent;
	position: relative;
	z-index: 45;
}

#u287-31
{
	background-color: transparent;
	z-index: 14;
	min-height: 391px;
	padding-top: 12px;
	position: relative;
	padding-bottom: 12px;
}

#u287-30
{
	font-size: 15px;
	color: #FFFFFF;
	font-family: quantico, sans-serif;
	font-weight: 400;
	line-height: 18px;
	margin-left: 30px;
	margin-right: 30px;
}

#u128-6,#u128-6-bw
{
	min-height: 27px;
	z-index: 2;
}

.html
{
	background-color: #3F3F3F;
}

body
{
	position: relative;
}

@media (min-width: 591px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u290
	{
		width: 192px;
		margin-top: 11px;
		margin-left: 50%;
		left: -96px;
	}

	#u287-31
	{
		width: 543px;
		margin-top: 4px;
		margin-left: 50%;
		left: -271px;
	}

}

@media (max-width: 590px)
{
	#muse_css_mq
	{
		background-color: #00024e;
	}

	#bp_590.active
	{
		display: block;
	}

	#page
	{
		max-width: 590px;
	}

	#u290
	{
		margin-top: 10px;
		width: 32.55%;
		margin-left: 33.73%;
		left: 0px;
	}

	#u290_img
	{
		width: 100%;
	}

	#u287-31
	{
		margin-top: 5px;
		width: 92.04%;
		margin-left: 3.99%;
		left: 1px;
	}

	body
	{
		min-width: 320px;
	}
}

