.version.tr330 /* version checker */
{
	color: #000003;
	background-color: #BADFD9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 528.6909886456092px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu376
{
	width: 0.01px;
	margin-left: -1px;
}

#u376
{
	z-index: 2;
	width: 359px;
	margin-right: -10000px;
	margin-top: 4px;
}

#ppu382
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 390px;
}

#u382
{
	z-index: 11;
	height: 25px;
	width: 90px;
}

#u387
{
	z-index: 8;
	height: 25px;
	width: 87px;
	margin-top: 7px;
}

#ppu392
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 498px;
}

#u392
{
	z-index: 5;
	height: 26px;
	width: 91px;
}

#u413
{
	z-index: 14;
	height: 25px;
	width: 72px;
	margin-left: 3px;
	margin-top: 6px;
}

#pu336
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u336
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u342-21
{
	z-index: 18;
	width: 560px;
	min-height: 178px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u342-2,#u342-3,#u342-5
{
	padding-right: 250px;
}

#u342-6
{
	padding-right: 213px;
}

#u468
{
	z-index: 39;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 389px;
	left: 56px;
}

#u749
{
	z-index: 40;
	width: 200px;
	min-height: 104px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 64px;
}

#page .verticalspacer
{
	clear: both;
}

