.version.video /* version checker */
{
	color: #0000F0;
	background-color: #3CF60B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 517px;
	margin-left: auto;
	margin-right: auto;
}

#u1193
{
	z-index: 6;
	width: 330px;
	margin-left: 137px;
}

#pu1168
{
	width: 0.01px;
}

#u1168
{
	z-index: 2;
	width: 292px;
	margin-right: -10000px;
}

#u1183
{
	z-index: 4;
	width: 256px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 344px;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

