.version.video /* version checker */
{
	color: #00001E;
	background-color: #442D4B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 486px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 14px;
	margin-left: auto;
	margin-right: auto;
}

#u898
{
	z-index: 13;
	height: 26px;
	width: 71px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 24px;
}

#u904
{
	z-index: 16;
	height: 24px;
	width: 73px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 105px;
}

#u892
{
	z-index: 10;
	height: 26px;
	width: 70px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 187px;
}

#u886
{
	z-index: 7;
	height: 29px;
	width: 153px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 267px;
}

#u916
{
	z-index: 22;
	height: 29px;
	width: 61px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 429px;
}

#u910
{
	z-index: 19;
	height: 27px;
	width: 76px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 500px;
}

#pu376
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 486px;
	margin-left: 20px;
}

#u376
{
	z-index: 2;
	width: 359px;
	margin-left: 101px;
}

#u376:hover
{
	width: 359px;
	min-height: 0px;
	margin: 0px 0px 0px 101px;
}

#pu837
{
	width: 0.01px;
	padding-bottom: 2px;
}

#u837
{
	z-index: 4;
	width: 270px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u922
{
	z-index: 24;
	width: 249px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 311px;
}

body
{
	position: relative;
	min-width: 600px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -486px;
}

